NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dmFsaWQtbXV0dC05My5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_yPllF48nd1FZ1FssO5oa7LHqMcWoA2ppXEP7E87Q0Q

DATABASE_URL=mongodb+srv://iakshu845:Akash777@data.sovgdyz.mongodb.net/?retryWrites=true&w=majority&appName=data

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

API_SIGNATURE_SECRET=cac2eaa96e36f05f49ede950546b7582fe4583d57ea4f45e0369f5ce3dfd5fd0
CLERK_WEBHOOK_SECRET=whsec_j/zdFt86zuGG+WBLiAe2tG1T2L9C+rNa

LYZR_API_KEY=sk-default-HDY058azuWq9D51JFE2WCeBft2bbqMGJ
LYZR_AGENT_ID=6a2a7fdb9d671e0f99d874ed
LYZR_UPDATES_AGENT_ID=6a2a80c0281909b7844555a2
LYZR_LINK_EXTRACTION_AGENT_ID=6a2a818879e24c1d414d5865
LYZR_RAG_ID=6a2a81c6da6ab35f4299f381
LYZR_AUTO_RAG_ID=6a2a81c6da6ab35f4299f381

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=itsaakash77@gmail.com
SMTP_PASS=ndya huec xlgq mqpd
